body{
    font-family: 'Roboto', sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #a8c2e7;
    padding: 1rem;
    background-color: #486a9cad;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    background-color: white;
    padding: 1rem;
}