body{
    background-color: #f2f3f7;
}

header{
    display: flex;
    background-color: #391126;
    color: #f2f3f7;
    padding: 5px;
}

header .logo{
    margin: 0;
    padding: 1rem;
}

header .social{
    flex-direction: column;
    margin: 0 0 0 auto;
}

h1{
    font-family: 'Charm', cursive;
    font-size: 1.5rem;
    padding-left: 1rem;
}

#menu{
    background-color: #391126;
    color:#f1f3fc;
    font-size: 1.5rem;
    position: relative;
    left: 95%;
    bottom: -.7rem;
    border: none;
}

#menu::before{
    content: '≡';
}

#menu.open::before{
    content: 'X';
}

nav{
    background-color: #391126;
    padding: 1rem;
    margin: -1px auto;
}

ul{
    list-style: none;
}

.navigation.open{
    display: contents;
    text-align: center;
}

.navigation{
    display: none;
}

nav a{
    display: block;
    font-family: 'Sahitya', serif;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #f2f3f7;  
    padding: 1rem;
}

.active{
    text-decoration: underline;
}

nav a:hover{
    background-color: rgba(234, 234, 236, 0.2)
}

.hero{
    background-color: #f1f3fc;
    border: none;
}

img{
    width: 100%;
    height: auto;
}

#action{
    position: relative;
    top: -4rem;
    left: 10%;
    right: 10%;
    font-size: 1.25rem;
    font-family: 'Charm', cursive;
    font-weight: bolder;
    padding: .5rem;
    width: 80%;
    margin: auto;
    background-color: #85b581;
    color: black;
}

main section, main div{
    background-color: #85b581;
    color: black;
    border: 3px black solid;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

h2{
    font-family: 'Sahitya', serif;
    font-size: 1.5rem;
    text-align: center;
}

#spotlight div{
    border: 3px black solid;
    border-radius: 5px;
    margin: 5px;
}

#spotlight p{
    text-align: center;
}

#spotlight a{
    font-family: 'Manjari', sans-serif;
    font-size: 1.25rem;
    padding: 2px;
    text-align: center;
    color: black;
}

h3{
    font-family: 'Sahitya', serif;
    font-size: 1.5rem;
}

p{
    font-family: 'Manjari', sans-serif;
    font-size: 1.25rem;
    padding: 2px;
}

.name, .contact{
    text-align: center;
}

footer{
    background-color: #391126;
    color: #f1f3fc;
}

footer .logo{
    margin: 0 auto;
    display: block;
    padding-top: 5px;
}

footer h2{
    font-family: 'Charm', cursive;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.copyright{
    text-align: center;
}

.copyright p{
    font-size: 1rem;
}

.social{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}

.social img{
    background-color: #f1f3fc;
    border-radius: 5px;
    border: 3px #f1f3fc solid;
    margin: 5px;
    width: 25px;
}

.logo{
    width: 10rem;
}

.gallery img{
    margin-bottom: 10px;
}

.form fieldset{
    border: 3px black solid;
    border-radius: 5px;
    background-color: #85b581;
    position: relative;
    margin: 1rem
}

.form legend{
    font-family: 'Sahitya', serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 .5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: bold;
}

.form label{
    display: block;
    margin-top: 1rem;
    font-family: 'Manjari', sans-serif;
    font-size: 1.25rem;
    padding: .5rem;
    margin-left: -.5rem;
}

.form fieldset div{
    font-family: 'Manjari', sans-serif;
    font-size: 1.25rem;
    padding: 0;
    border: none;
    margin: 1rem 0 0;
}

.form input, .form textarea{
    padding: .75rem;
    font-family: 'Manjari', sans-serif;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea{
    width: 94%;
}

.form input[type="radio"]{
    margin: 0 3%;
}

.form textarea{
    height: 10rem
}

.form label:nth-child(2){
    margin-top: 3rem;
}

.form input[type="submit"]{
    width: 90%;
    margin: 0 5% 1rem;
    background-image: radial-gradient(#391126, #a34e7a);
    color: white;
    font-family: 'Charm', cursive;
    font-size: 1.5rem;
    border: 3px black solid;
}

.form input:required{
    border-bottom: 8px solid #ca0505a8;
}

.form input:required:valid{
    border-bottom: 8px solid #05ca479f;
}

#join h3{
    font-family: 'Sahitya', serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
}

#join h4{
    font-family: 'Manjari', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
}

#join ul{
    list-style: disc;
}

#join li{
    font-family: 'Manjari', sans-serif;
    font-size: 1.25rem;
    margin-left: -1rem;
}

.benefits{
    margin: 0 0 1rem 0;
}

#directory a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Manjari', sans-serif;
    font-size: 1.25rem;
    padding: 2px;
}

#directory > div{
    display: none;
}

#directory img{
    height: 200px;
    width: auto;
    margin: 0 auto;
    display: block;
}

#weather{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 1fr 1fr;
    gap: .5rem;
    text-align: center;
}

#weather h2{
    grid-column: 1 / 4;
}

#weather section{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#weather section:nth-child(2){
    grid-column: 1 / 4;
}

#weather img{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

#banner{
    position: sticky;
    grid-column: 1 / 3;
    top: 0;
}

#banner h3{
    text-align: center;
}

.closed{
    display: none;
}

#closeBanner{
    font-size: 1.5rem;
    position: relative;
    left: 90%;
    background-color: #85b581;
    border: none;
}

