h1{
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 80%;
}

img {
    width: 100%;
    height: auto;
    background: black;
    animation: fade 15s;
}

@keyframes fade {
    0%{
        opacity:0 ;
    }
    
    100%{
        opacity: 1;
    }
}
