body{
    background-color: #f7e1d7;
}

header{
    font-family: 'Courier Prime', monospace;
    background-color: #b0c4b1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    height: 75%;
    border: .75rem solid #f7e1d7;
    margin-right: .5rem;
}

h1{
    font-family: 'Courier Prime', monospace;
}

h3, div {
    font-family: 'Yantramanav', sans-serif;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:400;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: black;
	color: #f7e1d7;
}

#menu::before {
	content: "≡";
}

nav {
    background-color: black;
}


.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li{
    display: none;
}

.navigation a{
    display: block;
    font-family: 'Yantramanav', sans-serif;
    font-size: 2em;
    color:#f7e1d7;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.active::first-line{
    text-decoration: underline #f7e1d7;
}

.show > li {
    display: block;
}

#menu.show::before {
    content: "X";
}

main {
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 2fr 1fr 1fr;
    gap: 2%;
}

main h2 {
    font-family: 'Courier Prime', monospace;
    text-decoration: underline black;
    text-align: center;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2em;
}

.card h3{
    font-family: 'Yantramanav', sans-serif;
    background-color: #b0c4b1;
    margin: 0;
    text-align: center;
}

.card div{
    margin: auto;
    text-align: center;
}

.card div input{
    font-size: .75em;
}

ul {
    font-family: 'Yantramanav', sans-serif;
    list-style: none;
}

li {
    font-family: 'Courier Prime', monospace;
    font-size: .8em;
}

a{
    text-decoration: none;
}

.card a::after{
    content: "  |  ";
    color:black;
}

iframe{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

footer {
    font-family: 'Courier Prime', monospace; 
    background-color: #b0c4b1;
    text-align: center;
}

#lastModified{
    color: black;
    font-size: 75%;
}