:root{
    --bord: 2px black solid;
    --head: 'ABeeZee', sans-serif;
    --details: 'Inria Serif', Serif;
    --color1: #9CD39C;
    --color2: #6E3c56;
}

.form1{
    background-color: var(--color1);
    border: var(--bord);
    border-radius: 25px;
    padding: 1rem;
}

.form1 input{
    display: block;
    border: var(--bord);
    border-radius: 10px;
    margin: .5rem 0 1rem 0;
    width: 90%;
}

.form1 label{
    font-family: var(--head);
}

.form1 div{
    font-family: var(--head);
}

.msg{
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    color: rgb(92, 1, 1);
}

.form1 input[type="text"],
.form1 input[type="password"],
.form1 input[type="email"]{
    padding: 1rem;
}

.form1 input:required{
    border-left: 10px solid rgb(92, 1, 1);
}

.form1 input:required:valid{
    border-left: 10px solid green;
}

#rating {
    -webkit-appearance: none;
    padding: 0 2%;
    appearance: none;
    height: 1.5rem;
    border: 0;
    cursor: pointer;
    background: var(--color2);
}

#rating::-webkit-slider-thumb{
    appearance: none;
    border-radius: 50%; 
    height: 1.6rem;
    width: 1.6rem;
    background: black;
    cursor: pointer;
}

#ratingvalues {
	display: flex;
    margin: 0 2%;
}

#ratingvalues option {
	flex: 1 1 auto;
}

.form1 input[type="submit"]{
    width: 96%;
    padding: .75rem;
    font-family: var(--head);
    font-size: 1.5rem;
    background-image: radial-gradient(var(--color1), var(--color2));
}