@media screen and (min-width:500px) {
    body{
        max-width: 2000px;
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }

    main{
        grid-template-columns: 2fr 1fr;
    }

    h1 {
        grid-column: 1/3;
    }

    br{
        display: none;
    }
    
    footer img{
        margin-bottom: -1%;
    }
}